
<% @materials.each_with_index do |material, index| %>
  <% if (index % 7) == 0 %>
    <div class="row">
  <% end %>
  <div class="span2">
    <p><%= link_to image_tag(material.image.url(:thumb)), material %></p>
  </div>
  <% if (index % 7) == 6 %>
    </div>
  <% end %>
<% end %>
